$font-body: verdana;
$font-headers: verdana;
$font-color: rgba(0, 0, 0, 0.806);
$font-weight: bold;

/* Color palette for the portfolio project */

$color-white: #FFFFFF;
$color-black: #d506062d;
$color-dark: #303230;
$color-header: #000000;